doctype html

html
    title dashboard
    header
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(class="container-fluid")
        .login-margins
            form(action="", method="post")
                input(class="form-control text-center", type="text", required, name="username", placeholder="username")
                br
                input(class="form-control text-center", type="password", required, name="password", placeholder="password")
                br
                .align-center
                    input(class="btn btn-primary", type="submit", name="login" value="Login")
