extends layout

block content
  // first section - Home
  #home.home
    .content
      img.logo(src='images/daystar.png')
      h1 School of
      h3 science, engineering and health
      button.btn.btn-circle(title='Scroll down')
        i.glyphicon.glyphicon-chevron-down

  // second section - About
  #about

  // third section - Clubs and events
  #events

  // fourth section - Clubs and events
  #programmes

  // fifth section - Faculty
  #faculty

  // sixth section - Contact us
  #contact

