extends layout

block content
  // first section - Home
  #home.home
    .text-center
      h1= title
      p Welcome to the #{title}

  // second section - About
  #about

  // third section - Clubs and events
  #events

  // fourth section - Clubs and events
  #programmes

  // fifth section - Faculty
  #faculty

  // sixth section - Contact us
  #contact

